absl-py==0.10.0
aiohttp==3.6.2
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.2.10
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==20.2.0
backcall==0.2.0
beautifulsoup4==4.9.2
bleach==3.2.1
bs4==0.0.1
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
chatterbot-corpus==1.2.0
click==7.1.2
colorama==0.4.3
crypto==1.4.1
cryptography==3.2.1
cycler==0.10.0
cymem==1.31.2
cytoolz==0.9.0.1
decorator==4.4.2
defusedxml==0.6.0
dill==0.2.9
discord==1.0.1
discord.py==1.4.1
distlib==0.3.1
Django==3.1.1
django-allauth==0.42.0
djangorestframework==3.12.1
dnspython==2.0.0
docutils==0.16
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
ftfy==4.4.3
gast==0.3.3
google-auth==1.21.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googletrans==3.0.0
grpcio==1.32.0
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.9.15
html5lib==1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
imageio==2.9.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.5.2
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.16.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyter-http-over-ws==0.0.8
jupyterlab-pygments==0.1.1
Keras==2.4.3
Keras-Preprocessing==1.1.2
keyring==21.4.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
Markdown==3.2.2
MarkupSafe==1.1.1
matplot==0.1.9
matplotlib==3.3.2
mccabe==0.6.1
mistune==0.8.4
mlxtend==0.18.0
mnist==0.2.2
msgpack==0.6.2
msgpack-numpy==0.4.7.1
msgpack-python==0.5.6
multidict==4.7.6
murmurhash==0.28.0
Naked==0.1.31
nbclient==0.5.0
nbconvert==6.0.6
nbformat==5.0.7
nest-asyncio==1.4.0
networkx==2.5
nltk==3.5
notebook==6.1.4
numpy==1.18.5
oauthlib==3.1.0
opencv-python==4.4.0.44
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.2
pandocfilters==1.4.2
parso==0.7.1
pathlib==1.0.1
pickleshare==0.7.5
Pillow==7.2.0
pkginfo==1.5.0.1
plac==0.9.6
preshed==1.0.1
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.9.9
pycryptodomex==3.9.9
Pygments==2.7.1
pylatexenc==2.8
pylint==2.6.0
pyloco==0.0.139
pymongo==3.11.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyrsistent==0.17.3
pytesseract==0.3.6
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2020.1
PyWavelets==1.1.1
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==3.13
pyzmq==19.0.2
readme-renderer==26.0
regex==2017.4.5
reportlab==3.5.53
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rsa==4.6
scapy==2.4.4
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.4.1
seaborn==0.11.0
selenium==3.141.0
Send2Trash==1.5.0
shellescape==3.8.1
SimpleWebSocketServer==0.1.1
six==1.15.0
sklearn==0.0
sniffio==1.1.0
soupsieve==2.0.1
sqlparse==0.3.1
tensorflow==1.2.0
thinc==6.10.3
threadpoolctl==2.1.0
tifffile==2020.12.8
toolz==0.11.1
tornado==6.0.4
tqdm==4.49.0
traitlets==5.0.4
twine==3.2.0
typing==3.7.4.3
ujson==4.0.1
urllib3==1.25.10
ushlex==0.99.1
virtualenv==20.2.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
wget==3.2
wrapt==1.10.11
xournal-converters==0.0.9
yarl==1.5.1
